body {
    color: deeppink;
    background-color: darkgray;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

a {
    color: forestgreen;
}

p {
    font-family: Palatino, serif;
    border: 1px solid deeppink;
    padding: 10px;
}

div#container {
    margin: 0 auto;
    max-width: 800px;
}
